{% extends 'base.html'%}





{% block main %}




  


     <section class="">


          
          <div class="maintitle mt-5 text-center">
            <h2 class="mb-5  text-info">FIRST THIGS FIRST</h2>
            
            <div >
          

               <div class="  d-flex  ml-4 px-5  ">
                    
                    <img class="mb-5 px-5 pt-5 " src= " {{url_for('static', filename='images/level1.jpg')}} " class="card-img-top" alt="..." height="540 " width="540" >
                    <div class="text-center bg-white"></div>
                    
                                 
   <div class="col "> <H1 class="text-info  text-white px-5"> ALL LESSONS</H1>
    <div class="col text-black fs-3  " ><a href="/book1/1">LESSON 1</a></div>
    <div class="col fs-3" >LESSON 2</div>
    <div class="col fs-3" >LESSON 3</div>
    <div class="col fs-3" >LESSON 4</div>
    <div class="col fs-3" >LESSON 5</div>
    <div class="col fs-3" >LESSON 6</div>
  </div>
    
                          
  <div class="col mt-5 "> 
    <div class="col fs-3 " > LESSON 7</div>
    <div class="col fs-3" >LESSON 8</div>
    <div class="col fs-3" >LESSON 9</div>
    <div class="col fs-3" >LESSON 10 </div>
    <div class="col fs-3" >LESSON 11</div>
    <div class="col fs-3" >LESSON 12</div>
  </div>
  </div>
</section>


{%endblock%}