{% extends 'base.html'%}





{% block main %}




  


     <section class="">


          
          <div class="maintitle mt-5 text-center">
            <h2 class="mb-5  text-info ">DEVELOPING SKILLS</h2>
            
            <div class>
                <div class=" ex"> 
              <div class="what text-center m-5 p-5 ">
                <h1 class="m-3 bg-info">what you will learn in this cours</h1>
                <h3>you will learn the foundamantel of english</h3> 
                <h3>in very well explained methods</h3>
            </div>
                </div>
          

               <div class="  d-flex  ml-4 px-5  ">
                    <div class="pic">
                        <img class="mb-5 px-5 pt-5 " src= " {{url_for('static', filename='images/level3.jpg')}} " class="card-img-top" alt="..." height="500 " width="540" >
                  </div>
                    <div class="text-center bg-white"></div>
                    
                                 
   <div class="col mx-5  "> 
    <div class="book ">
    <div class=" col text-black fs-3  " >
      <a href="/book1/1">LESSON  <span class="text-black">1</span></a></div>
    <div class="col fs-3"  ><a href="/book1/2"> LESSON  <span class="text-black">2</span> </a></div>
    <div class="col fs-3"  ><a href="/book1/3">LESSON  <span class="text-black">3</span></a></div>
    <div class="col fs-3"  ><a href="/book1/4">LESSON  <span class="text-black">4</span></a></div>
    <div class="col fs-3"  ><a href="/book1/5">LESSON  <span class="text-black">5</span></a></div>
    <div class="col fs-3"  ><a href="/book1/6">LESSON   <span class="text-black">6</span></a></div>
    <div class="col fs-3"  ><a href="/book1/7">LESSON   <span class="text-black">7</span></a></div>
    <div class="col fs-3"  ><a href="/book1/8">LESSON <span class="text-black">8</span> </a></div>
    <div class="col fs-3"  ><a href="/book1/9">LESSON   <span class="text-black">9</span> </a></div>
    <div class="col fs-3"  ><a href="/book1/10">LESSON   <span class="text-black">10</span> </a></div>
  </div>
</div>
             
                             
<div class="col   "> 
    <div class="book ">
    <div class=" col text-black fs-3  " >
      <a href="/book1/1">LESSON  <span class="text-black">11</span></a></div>
    <div class="col fs-3"  ><a href="/book1/2"> LESSON  <span class="text-black"1>2</span> </a></div>
    <div class="col fs-3"  ><a href="/book1/3">LESSON  <span class="text-black">13</span></a></div>
    <div class="col fs-3"  ><a href="/book1/4">LESSON  <span class="text-black">14</span></a></div>
    <div class="col fs-3"  ><a href="/book1/5">LESSON  <span class="text-black">15</span></a></div>
    <div class="col fs-3"  ><a href="/book1/6">LESSON   <span class="text-black">16</span></a></div>
    <div class="col fs-3"  ><a href="/book1/7">LESSON   <span class="text-black">17</span></a></div>
    <div class="col fs-3"  ><a href="/book1/8">LESSON <span class="text-black">18</span> </a></div>
    <div class="col fs-3"  ><a href="/book1/9">LESSON   <span class="text-black">19</span> </a></div>
    <div class="col fs-3"  ><a href="/book1/10">LESSON   <span class="text-black">20</span> </a></div>
  </div>
</div>

                             
<div class="col   "> 
    <div class="book ">
    <div class=" col text-black fs-3  " >
      <a href="/book1/1">LESSON  <span class="text-black">21</span></a></div>
    <div class="col fs-3"  ><a href="/book1/2"> LESSON  <span class="text-black">22</span> </a></div>
    <div class="col fs-3"  ><a href="/book1/3">LESSON  <span class="text-black">23</span></a></div>
    <div class="col fs-3"  ><a href="/book1/4">LESSON  <span class="text-black">24</span></a></div>
    <div class="col fs-3"  ><a href="/book1/5">LESSON  <span class="text-black">25</span></a></div>
    <div class="col fs-3"  ><a href="/book1/6">LESSON   <span class="text-black">26</span></a></div>
    <div class="col fs-3"  ><a href="/book1/7">LESSON   <span class="text-black">27</span></a></div>
    <div class="col fs-3"  ><a href="/book1/8">LESSON <span class="text-black">28</span> </a></div>
    <div class="col fs-3"  ><a href="/book1/9">LESSON   <span class="text-black">29</span> </a></div>
    <div class="col fs-3"  ><a href="/book1/10">LESSON   <span class="text-black">30</span> </a></div>
  </div>
</div>

</section>
{%endblock%}