{% extends 'base.html'%} 
{% block main %} 



<h1 class="text-start mt-5 px-5 text-info">SIGN UP</h1>
<div class="container d-flex justify-content-end align-items-center">

<div class="container d-flex justify-content-between mt-5">

 


             

  <form class=" p-5 mt-5 mx-5 rounded" action="/signup" method="POST"> 
  
    <div class="mb-">
      <label for="Email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="Email" name="email" aria-describedby="email">
      <div id="Email" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class=" form-group mb- ">
      <label for="text" class="form-label">firstName</label>
      <input type="text" class="form-control" id="firstName" name="firstName" >
    </div>
    
    <div class="mb">
      <label for="Password1" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password1" name="Password1" > 
    </div>
    
    
    <div class="mb- ">
      <label for="Password2" class="form-label">conferm password</label>
      <input type="password" class="form-control" id="Password2"  name="Password2"> 
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="Submit" class="btn btn-info px-5">Submit</button> 
    
    
  
      
    </form>
    

  <img src= "{{url_for('static', filename='images/sign.png')}}" alt="images" width="900">
  
</div>
  </div>


{%endblock%}